$bootstrap-sass-asset-helper: false !default;

//
// Variables
// --------------------------------------------------
//section 

$common-padding:100px 0;
$space-sm: 0.3rem;
$space: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$section-padding: 3rem;

// IITDOM theme color
$primary:#f68c1f;
$primary-lt:rgba(246, 140, 31,0.2);
$black:#000000;
$black-lt:#16191c;
$black-lt:#16191c;
$white-lt: rgba(255, 255, 255, 0.7);
$red: #ca0a137a;
 


// Colors
$title-color: #1f202a;
$desc-color: #716c80;
$hover-color: #ebf7f5;
$theme-color: #ca0a137a;
$primary-color: #f5c518;
$border-color: #ececec;
$white-color: #d8d6d6;
$black-color:#000;
$ash-color: #f4f9fd;
$f2-color: #f2f2f2;
$overlay:rgba(0,0,0,0.80);
$dark-color:#f0f1f3;
$section-bg: #dcdee3;
$text-color: #1d2440;
$common-bg: linear-gradient(90deg, #ff406f, #ef7f7f);

// social-media color
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #007bb5;
$pinterest: #007bb5;
$skype: #2fb7df;
$youtube: #cd201f;
$google: #dd4b39;
$camera: #e4405f;
$instagram: #e4405f;
$tumblr: #34465d;
$behance: #1769ff;
$star: #e9ba17;
$green: #0be881;
$green-h: #0fbcf9;
$red: #f53b57;
$yellow: #dec32b;
$nell: #212fb4;
$navy: #d8e0f3;
$plaseholder: #888;

//== Typography

// font-family
$Minionpro: 'Minion Pro';
$Minionpro_reg: 'SF Pro Text';
$sf-display: 'SF Pro Display';
// font-size
$fs-small-x: 15px !default;
$fs-base:   16px !default;
$fs-small: 	12px;
$fs-h1:		100px;
$fs-h2: 	60px;
$fs-h3: 	25px;
$fs-h4: 	20px;
$fs-h5: 	18px;
$fs-h6: 	16px;		

//  transition
$transition: all 0.5s ease;